<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="Windows-88592">
    <title th:text="${header}"></title>
    <link rel="stylesheet" href="style.css" type="text/css"/>
</head>
<body>
<h1></h1>
<h3>Katalog z filmami</h3>
<table border="1">
    <tr bgcolor="blue" >
        <td width="40px" height="60px">Tytuł</td>
        <td width="40px" height="60px">Rodzaj filmu</td>
        <td width="40px" height="60px">Kraj produkcji</td>
        <td width="40px" height="60px">Rok produkcji</td>
    </tr>
    <tr th:each="film : ${listaWszystkichFilmow}">
        <td th:text="${film.tytul}">Tytuł</td>
        <td th:text="${film.typ}">Rodzaj filmu</td>
        <td th:text="${film.krajProdukcji}">Kraj produkcji</td>
        <td th:text="${film.rokProdukcji}">Rok produkcji</td>
    </tr>
</table>
<h1></h1>
<a th:href="@{/login}">Logowanie</a>
</body>
</html>