<!DOCTYPE html>
<html lang="pl" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="Windows-88592">
    <title th:text="${header}"></title>
</head>
<body>
<h1></h1>
<h3>Twoje filmy</h3>
<table border="1">
    <tr bgcolor="aqua">
        <td width="40px" height="60px">Login</td>
        <td width="40px" height="60px">Film</td>
        <td width="40px" height="60px">Ocena</td>
    </tr>
    <tr th:each="film : ${listaMoichFilmowKontroler}">
        <td th:text="${film.login}">Login</td>
        <td><a th:href="|/film/${film.tytul}|" th:text="${film.tytul}">Film</a></td>
        <td th:text="${film.ocena}">Ocena</td>
    </tr>
</table>
<h1></h1>
<form th:action="@{/dodajFilm}" th:object="${mojeFilmy}" method="post">
<!--    <p th:if="${userIstnieje}" class="error">Taki login już istnieje</p>-->
    <label for="tytul">Dodaj swój film</label>
    <input type="tytul" id="tytul" name="tytul" autofocus="autofocus"/>

    <label for="ocena">Ocena</label>
    <input type="number" id="ocena" name="ocena"/>
    <br/>
    <input type="submit" value="Nowy film"/>
</form>
</body>
</html>